.cont {
    height: 100%;
    min-height: 300px;
    overflow: hidden;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 5px;
}

.habs {
    min-height: 300px;
}

.btn {
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
}

.active {
    border: 1px dashed white;
    background-color: rgb(83, 105, 129);
}