<div class="Habilidades">
    <div class="hab-img">
        <p class="tool">HTML</p>
        <img src="/assets/HTML.svg " />
    </div>
    <div class="hab-img">
        <p class="tool">CSS</p>
        <img src="/assets/CSS.svg " />
    </div>
    <div class="hab-img">
        <p class="tool">JavaScript</p>
        <img src="/assets/JS.svg " />
    </div>
    <div class="hab-img">
        <p class="tool">Java</p>
        <img src="/assets/JAVA.svg " />
    </div>
    <div class="hab-img">
        <p class="tool">PHP</p>
        <img src="/assets/PHP.svg " />
    </div>
</div>