<h1>Backend</h1>

<div class="Habilidades">
    <div class="hab-img">
        <p class="tool">TypeScript</p>
        <img src="/assets/TS.svg " />
    </div>

    <div class="hab-img">
        <p class="tool">Java</p>
        <img src="/assets/JAVA.svg " />
    </div>
    <div class="hab-img">
        <p class="tool">PHP</p>
        <img src="/assets/PHP.svg " />
    </div>

    <div class="hab-img">
        <p class="tool">NodeJS</p>
        <img src="/assets/NODE.svg " />
    </div>

    <div class="hab-img">
        <p class="tool">MongoDB</p>
        <img src="/assets/MONGO.svg " />
    </div>
    <div class="hab-img">
        <p class="tool">MySQL</p>
        <img class="hab-img" src="/assets/MYSQL.svg " />
    </div>
</div>