<form class="contact-form" (submit)="sendEmail($event)">
    <div class="form__section">
        <input type="text" name="user_name" class="form__input" placeholder="Nombre" />
    </div>
    <div class="form__section">
        <input type="email" name="user_email" class="form__input" placeholder="Email" required />
    </div>
    <div class="form__section">
        <textarea type="text" name="message" class="form__input" placeholder="Mensaje"></textarea>
    </div>
    <div class="form_section">
        <button type="submit" class="btn boton" name=" " id=" ">Enviar</button>
    </div>
</form>