.contact-form {
    padding: 20px 40px 30px 30px;
    order: 5;
}

.form__input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    padding: 6px;
    margin: 6px 0;
    border: none;
    border-left: 3px solid rgb(83, 105, 129);
}

.boton {
    width: 100%;
    padding: 6px;
    margin: 6px 0;
    border: 3px solid rgb(83, 105, 129);
    background-color: rgb(83, 105, 129);
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.boton:hover {
    background-color: transparent;
    border: 3px solid rgb(83, 105, 129);
    color: rgb(83, 105, 129);
    border-radius: 15px;
    transition: all 0.5s;
}

.form__input:focus {
    background: rgba(255, 255, 255, 0.664);
    outline: none;
    border: 4px solid rgb(83, 105, 129);
}

.contact-form textarea {
    min-height: 120px;
    resize: none;
}

.contact-form-img {
    flex: 1;
    padding: 1;
    display: flex;
    order: 2;
}

.contact-form-img img {
    width: auto;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .contact-form-img>img {
        transition: all 1s;
        max-width: 300px;
    }
}

@media only screen and (min-width: 950px) {
    .flex-container {
        transition: all 1s;
        margin-left: 200px;
        margin-right: 200px;
    }
}