<div class="social-bar">
    <a class="icon icon-facebook">
        <i class="fab fa-facebook-f fa-fw"> </i>
    </a>
    <a href="https://github.com/oscar-quiroz" class="icon icon-github" target="_blank">
        <i class="fab fa-github fa-fw"> </i>
    </a>
    <a href="https://www.linkedin.com/in/oscar-quiroz-1582b61b5/" class="icon icon-linkedin" target="_blank">
        <i class="fab fa-linkedin fa-fw"> </i>
    </a>
    <a class="icon icon-twitter">
        <i class="fab fa-twitter fa-fw"> </i>
    </a>
</div>