<div class="navbar">
    <div class="menu">
        <h2 class="logo">
            <img width="35px" src="/assets/OSCAR_ico.svg" />
            <span style="padding-left: 10px">Oscar</span>Quiroz
        </h2>

        <div class="hamburger-menu" (click)="activar()">
            <div class="bar" [ngClass]="active"></div>
        </div>
    </div>
</div>

<div class="links" [ngClass]="sobreponer">
    <ul>
        <li>
            <a href="#main" style="--i: 0.05s">Inicio</a>
        </li>
        <li>
            <a href="#uno" style="--i: 0.1s">Habilidades</a>
        </li>
        <li>
            <a href="#dos" style="--i: 0.15s">Experiencia</a>
        </li>
        <li>
            <a href="#tres" style="--i: 0.2s">Contacto</a>
        </li>
    </ul>
</div>

<app-social-buttons></app-social-buttons>

<div class="container" [ngClass]="active">
    <div class="main-container" id="main">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner animate__animated animate__backInRight">
                        <div class="yo">
                            <img width="400px" src="/assets/OSCAR_ICON2.svg" />
                        </div>
                        <div class="contenido">
                            <h2 class="title">
                                Hola, soy Oscar! <img width="40px" src="/assets/colombia.svg" />
                            </h2>
                            <p>
                                Estudiante de Ingeniería de Sistemas y Computación, con disposición para afrontar retos y aprender cosas nuevas. Soy una persona que se caracteriza por su liderazgo, responsabilidad, honestidad, proactividad, y alcanzar las metas establecidas con eficacia
                                y eficiencia.
                            </p>
                            <a class="btn" href="assets/docs/ejemplo.PDF" target="_blank">Descargar CV</a
              >
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="main-container" id="uno">
    <div class="main">
      <header>
        <div class="overlay">
          <div class="inner animate__animated animate__backInRight">
            <div>
              <h2 class="hab-title">Habilidades</h2>

              <p>
                Lenguajes, tecnologias y herramientas que conozco y utilizo en
                mi día a día, tanto en frontend como backend.
              </p>
              <p>agregar habilidades</p>

              <br />
            </div>

            <div>
              <app-grupo-habs></app-grupo-habs>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="main-container" id="dos">
    <div class="main">
      <header>
        <div class="overlay">
          <div class="inner animate__animated animate__backInRight">
            <app-portafolio></app-portafolio>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="main-container" id="tres">
    <div class="main">
      <header>
        <div class="overlay">
          <div class="inner animate__animated animate__backInRight">
            <div class="contact">
              <h2 class="hab-title">Contacto</h2>

              <app-contact></app-contact>
            </div>

            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              "
            >
              <div class="yo">
                <img width="400px" src="/assets/OSCAR_ICON.svg" />
              </div>
              <p style="transform: translateY(-30px)">
                Comunicate y colaboremos juntos!. 😁
              </p>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>

  <footer>
    <span
      >Created By
      <a href="#" style="text-decoration: none; color: rgb(78, 112, 148)">
        Oscar Quiroz</a
      >
      2021. All rights reserved.
    </span>
  </footer>
  <script src="app.js"></script>
</div>

<div class="shadow one" [ngClass]="active" id="">
  <header class="back-head"></header>
</div>

<div class="shadow two" [ngClass]="active" id="">
  <header class="back-head"></header>
</div>