<div class="container" [ngClass]="active">
    <div class="navbar">
        <div class="menu">
            <h2 class="logo">
                <img width="35px" src="/assets/OSCAR_ico.svg" />
                <span style="padding-left: 10px">Oscar</span>Quiroz
            </h2>

            <div class="hamburger-menu" (click)="activar()">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="main-container" id="main">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner animate__animated animate__backInRight">
                        <div class="yo">
                            <img width="400px" src="/assets/OSCAR_ICON.svg" />
                        </div>
                        <div class="contenido">
                            <h2 class="title">
                                Hi, I'am Oscar! <img width="40px" src="/assets/colombia.svg" />
                            </h2>
                            <p>
                                Estudiante de Ingeniería de Sistemas y Computación, con disposición para afrontar retos y aprender cosas nuevas. Soy una persona que se caracteriza por su liderazgo, responsabilidad, honestidad, proactividad, y alcanzar las metas establecidas con eficacia
                                y eficiencia.
                            </p>
                            <p>
                                Desarrollador con experiencia en HTML, CSS, Javascript, Typescript, Angular, SQL, PostgreSQL.
                            </p>
                            <a class="btn" href="#dos">Downland CV</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="shadow one" id="">
            <header></header>
        </div>

        <div class="shadow two" id="">
            <header></header>
        </div>
    </div>

    <div class="main-container" id="uno">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner animate__animated animate__backInRight">
                        <br />
                        <div>
                            <h2 class="hab-title">Habilidades</h2>
                            <br />
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non unde corporis dicta. Quaerat amet ullam eligendi, recusandae eaque neque. Aliquam, natus assumenda soluta voluptates voluptas consequatur corrupti qui saepe minus.
                            </p>
                        </div>

                        <div>
                            <app-grupo-habs></app-grupo-habs>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div class="main-container" id="dos">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner animate__animated animate__backInRight">
                        <div>
                            <h2 class="title">Panel dos</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illum tenetur consequatur veritatis?
                            </p>
                            <button class="btn">Read more</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div class="links">
            <ul>
                <li>
                    <a href="#main" style="--i: 0.05s">Home</a>
                </li>
                <li>
                    <a href="#uno" style="--i: 0.1s">Habilidades</a>
                </li>
                <li>
                    <a href="#dos" style="--i: 0.15s">Portfolio</a>
                </li>
                <li>
                    <a href="#" style="--i: 0.2s">Testimonials</a>
                </li>
                <li>
                    <a href="#" style="--i: 0.25s">About</a>
                </li>
                <li>
                    <a href="#" style="--i: 0.3s">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="app.js"></script>
</div>