<section class="teams" id="teams">
    <h2 class="hab-title">Contacto</h2>
    <div class="max-width">
        <div class="carousel" [ngClass]="move" id="cont">
            <div class="card">
                <div class="box">
                    <img src="assets/bg.jpg" alt="" />
                    <div class="text">Viady</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="assets/bg.jpg" alt="" />
                    <div class="text">Viady</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="assets/bg.jpg" alt="" />
                    <div class="text">Viady</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="assets/bg.jpg" alt="" />
                    <div class="text">Viady</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="assets/bg.jpg" alt="" />
                    <div class="text">Viady</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="controls">
            <button class="btn" [ngClass]="sUno" (click)="inicio()"></button>
            <button class="btn" [ngClass]="sDos" (click)="segundo()"></button>
            <button class="btn" [ngClass]="sTres" (click)="inicio()"></button>
        </div>
    </div>
</section>