<section class="teams" id="teams">
    <h2 class="hab-title">Portafolio</h2>

    <div class="max-width">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod soluta debitis sint iure ratione quibusdam quae, obcaecati at omnis totam delectus sequi cumque cupiditate earum, aut modi odio deserunt reiciendis.
        </p>
        <div class="carousel" [ngClass]="move" id="cont">
            <div class="card-cont">
                <input type="checkbox" id="d1" />
                <label for="d1"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <a href="https://viadymusica.com/home" target="_blank">
                            <figure class="imghvr-slide-down">
                                <img src="https://i.ibb.co/3fk0MC2/viady.png" alt="" />
                                <figcaption></figcaption>
                            </figure>
                        </a>

                        <div class="text">Viady</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>

                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-angularjs-plain"></i>
                            <i class="devicon-nodejs-plain"></i>
                            <i class="devicon-express-original"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-nginx-original"></i>
                            <i class="devicon-jest-plain"></i>
                            <i class="devicon-mysql-plain"></i>
                            <i class="devicon-sequelize-plain"></i>
                            <i class="devicon-grunt-line"></i>
                            <i class="devicon-travis-plain"></i>
                            <i class="devicon-amazonwebservices-original"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-cont">
                <input type="checkbox" id="d2" />
                <label for="d2"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <a href="https://viadymusica.com/home" target="_blank">
                            <figure class="imghvr-slide-down">
                                <img src="https://i.ibb.co/pJWrhHN/galeria.png" alt="" />
                                <figcaption></figcaption>
                            </figure>
                        </a>

                        <div class="text">Galeria AlmaCrochet</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>
                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-bootstrap-plain"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-angularjs-plain"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-cont">
                <input type="checkbox" id="d3" />
                <label for="d3"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <a href="https://home-inventory-bc7ca.web.app/" target="_blank">
                            <figure class="imghvr-slide-down">
                                <img src="https://i.ibb.co/rdDpNZW/Captura-de-pantalla-2021-06-14-212546.png" alt="" />
                                <figcaption></figcaption>
                            </figure>
                        </a>

                        <div class="text">Home Inventory</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>

                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-angularjs-plain"></i>

                            <i class="devicon-devicon-plain"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-cont">
                <input type="checkbox" id="d4" />
                <label for="d4"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <a href="https://viadymusica.com/home" target="_blank">
                            <figure class="imghvr-slide-down">
                                <img src="https://i.ibb.co/2N45Q1X/homeinventory.png" alt="" />
                                <figcaption></figcaption>
                            </figure>
                        </a>

                        <div class="text">Home Inventory App</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>
                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-ionic-original"></i>
                            <i class="devicon-angularjs-plain"></i>
                            <i class="devicon-nodejs-plain"></i>
                            <i class="devicon-express-original"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-karma-plain"></i>
                            <i class="devicon-mysql-plain"></i>
                            <i class="devicon-heroku-original"></i>
                            <i class="devicon-amazonwebservices-original"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-cont">
                <input type="checkbox" id="d5" />
                <label for="d5"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <a href="https://sudokusolver-a5465.web.app/" target="_blank">
                            <figure class="imghvr-slide-down">
                                <img src="https://i.ibb.co/gz8b2Qg/sudoku.png" alt="" />
                                <figcaption></figcaption>
                            </figure>
                        </a>

                        <div class="text">Sudoku Solver</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>

                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-angularjs-plain"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls">
            <button class="btn" [ngClass]="sUno" (click)="inicio()"></button>
            <button class="btn" [ngClass]="sDos" (click)="segundo()"></button>
            <button class="btn" [ngClass]="sTres" (click)="inicio()"></button>
        </div>
    </div>
</section>