<section class="teams" id="teams">
    <h2 class="hab-title">Portafolio</h2>

    <div class="max-width">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod soluta debitis sint iure ratione quibusdam quae, obcaecati at omnis totam delectus sequi cumque cupiditate earum, aut modi odio deserunt reiciendis.
        </p>
        <div class="carousel" [ngClass]="move" id="cont">
            <div class="card-cont">
                <input type="checkbox" id="d1" />
                <label for="d1"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <figure class="imghvr-slide-down">
                            <img src="assets/bg.jpg" alt="" />
                            <figcaption></figcaption>
                        </figure>

                        <div class="text">Viady</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>

                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-angularjs-plain"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-cont">
                <input type="checkbox" id="d2" />
                <label for="d2"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <figure class="imghvr-slide-down">
                            <img src="assets/bg.jpg" alt="" />
                            <figcaption></figcaption>
                        </figure>

                        <div class="text">Viady</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>
                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-angularjs-plain"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-cont">
                <input type="checkbox" id="d3" />
                <label for="d3"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <figure class="imghvr-slide-down">
                            <img src="assets/bg.jpg" alt="" />
                            <figcaption></figcaption>
                        </figure>

                        <div class="text">Viady</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>

                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-angularjs-plain"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-cont">
                <input type="checkbox" id="d4" />
                <label for="d4"><i class="fas fa-sync"></i></label>
                <div class="card">
                    <div class="box">
                        <figure class="imghvr-slide-down">
                            <img src="assets/bg.jpg" alt="" />
                            <figcaption></figcaption>
                        </figure>

                        <div class="text">Viady</div>
                        <p>
                            Virtual Instruction Academy, plataforma de cursos de intrumentos musicales.
                        </p>
                    </div>
                    <div class="back">
                        <div>Herramientas</div>
                        <div class="techs">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-typescript-plain"></i>
                            <i class="devicon-angularjs-plain"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls">
            <button class="btn" [ngClass]="sUno" (click)="inicio()"></button>
            <button class="btn" [ngClass]="sDos" (click)="segundo()"></button>
            <button class="btn" [ngClass]="sTres" (click)="inicio()"></button>
        </div>
    </div>
</section>