.teams {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.carousel {
    width: 700px;
    display: flex;
    padding: 20px;
    transition: all 3s;
}

.move {
    transform: translateX(-700px);
}

.teams .carousel .card {
    width: 170px;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teams .carousel .card .box img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 5px;
}

.btn {
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
}

.active {
    border: 2px solid rgb(55, 68, 82);
    background-color: rgb(83, 105, 129);
    transform: scale(1.3);
}